.app-container {
  font-family: 'Segoe UI', sans-serif;
  padding: 30px;
  background: #f5f7fa;
  min-height: 100vh;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.random-btn {
  display: block;
  margin: 0 auto 30px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.random-btn:hover {
  background-color: #005fa3;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
